<!-- <div class="row">
    <div class="col-sm-12">
       <div class="content-header">Create User</div>
    </div>
 </div> -->
 <!-- <button class="btn btn-warn" (click)="gotoOtherPage()">Users</button> -->
 <!-- <form [formGroup]="userFrom" (ngSubmit)="submitForm()">
 <div class="row">
    <div class="col-sm-12">
       <div class="panel panel-default">
          <div class="panel-heading">
             <h3 class="panel-title">User Details</h3>
          </div>
          <div class="panel-body">
             <div class="form-group">
                <label class="col-sm-3 control-label">First Name<span class="mandatory">&nbsp;*</span></label>
                <div class="col-sm-5">
                   <input type="text" 
                      class="form-control"    
                      placeholder="First Name" 
                      maxlength="64"
                      required="true"
                      formControlName="firstName">
                </div>
             </div>
             <div class="form-group-separator"></div>
             <div class="form-group">
                <label class="col-sm-3 control-label">LastName<span class="mandatory">&nbsp;*</span></label>
                <div class="col-sm-5">
                   <input type="text" 
                      class="form-control"    
                      placeholder="Last Name" 
                      maxlength="64"
                      required="true"
                      formControlName="lastName">
                </div>
             </div>
             <div class="form-group-separator"></div>
             <div class="form-group">
                <label class="col-sm-3 control-label">EmailId<span class="mandatory">&nbsp;*</span></label>
                <div class="col-sm-5">
                   <input type="text" 
                      class="form-control"    
                      placeholder="Email" 
                      maxlength="64"
                      required="true"
                      formControlName="emailId">
                </div>
             </div>
             <div class="form-group-separator"></div>
          </div>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col-sm-12">
       <div class="panel panel-default">
          <div class="panel-body" style="text-align: center;">
             <input class="btn btn-info btn-icon" type="submit" value="Submit"/>
             <input type="button" class="btn btn-warning btn-icon" value="Reset">
          </div>
       </div>
    </div>
 </div>
 </form> -->
 <div class="row">
    <div class="col-md-12">
       <div class="card">
          <div class="card-header">
             <h4 class="card-title" id="from-actions-bottom-right">Create User Form</h4>
          </div>
          <div class="card-body">
             <div class="px-3">
                <form [formGroup]="userFrom" (ngSubmit)="submitForm()"> 
                <div class="form-body">
                   <h4 class="form-section"><i class="ft-info"></i>User Info</h4>
                   <div class="row">
                        <div class="form-group col-md-3 offset-1 mb-2">
                            <label for="location2">User Role</label>
                            <select class="custom-select form-control form-control-sm" id="location2" name="location2">
                                <option value="">Select Role</option>
                                <option value="Admin">Admin</option>
                                <option value="Account Manager">Account Manager</option>
                                <option value="Technical Screener">Technical Screener</option>
                            </select>
                        </div>
                        <div class="form-group col-3 mb-2">
                                <label>Reporting Manager</label>
                                <select class="custom-select form-control form-control-sm" id="location2" name="location2">
                                    <option value="">Select</option>
                                    <option value="Azhar Liaquat">Azhar Liaquat</option>
                                    <option value="Sanjib Mallik">Sanjib Mallik</option>
                                    <option value="Nitish Kumat">Nitish Kumar</option>
                                </select>
                            </div>
                            <div class="form-group col-3 mb-2">
                                <label>Reporting Vp of Sales</label>
                                <select class="custom-select form-control form-control-sm" id="location2" name="location2">
                                    <option value="">Select</option>
                                    <option value="Azhar Liaquat">Azhar Liaquat</option>
                                    <option value="Sanjib Mallik">Sanjib Mallik</option>
                                    <option value="Nitish Kumat">Nitish Kumar</option>
                                </select>
                            </div>                        
                     </div>
                   <div class="row">
                      <div class="form-group col-md-3 offset-1 mb-2">
                         <label for="userinput1">First Name</label>
                         <input type="text" id="" class="form-control form-control-sm" placeholder="First Name" name="First name">
                      </div>
                      <div class="form-group col-md-3 mb-2">
                         <label for="userinput2">Last Name</label>
                         <input type="text" id="userinput2" class="form-control form-control-sm" placeholder="Last Name" name="lastName">
                      </div>
                      <div class="form-group col-md-3 mb-2">
                            <label for="userinput1">User Name</label>
                            <input type="text" id="userinput1" class="form-control form-control-sm" placeholder="User Name" name="userName">
                         </div>
                   </div>
                   <div class="row">
                      <div class="form-group col-3 offset-1 mb-2">
                         <label for="userinput5">Email</label>
                         <input class="form-control form-control-sm" type="email" placeholder="email" id="userinput5">
                      </div>                   
                        <div class="form-group col-3 mb-2">
                           <label>Contact Number</label>
                           <input class="form-control form-control-sm" type="tel" placeholder="Contact Number" id="userinput7">
                        </div>
                        <div class="form-group col-3 mb-2">
                           <label>Alternate Number</label>
                           <input class="form-control form-control-sm" type="tel" placeholder="Alternate Contact Number" id="userinput7">
                        </div>
                    </div>
                    
                    <h4 class="form-section"><i class="ft-mail"></i> Skills</h4>
                    <div class="row">
                        <div class="form-group col-2 offset-1 mb-2">
                            <label>Skill Type</label>
                            <select class="custom-select form-control form-control-sm" id="location2" name="location2">
                                <option value="">Select</option>
                                <option value="Primary">Primary</option>
                                <option value="Secondary">Secondary</option>
                            </select>
                        </div>
                        <div class="form-group col-3 mb-2">
                            <label>Skill</label>
                            <input class="form-control form-control-sm" type="text" placeholder="Skill Name" id="userinput7">
                        </div>
                        <div class="form-group col-2 mb-2">
                            <label>Years</label>
                            <input class="form-control form-control-sm" type="text" placeholder="Years" id="userinput7">
                        </div>
                        <div class="form-group col-2 mb-2">
                            <label>Months</label>
                            <input class="form-control form-control-sm" type="text" placeholder="Months" id="userinput7">
                        </div>
                    </div>
                    <h4 class="form-section"><i class="ft-mail"></i> Address</h4>
                    <div class="row">
                        <div class="form-group col-md-3 offset-1 mb-2">
                            <label for="userinput1">Address Line 1</label>
                            <input type="text" id="userinput1" class="form-control form-control-sm" placeholder="Door No, Apartment" name="name">
                        </div>
                      <div class="form-group col-md-3 mb-2">
                         <label for="userinput2">Address Line 2</label>
                         <input type="text" id="userinput2" class="form-control form-control-sm" placeholder="Street, Area" name="company">
                      </div>
                      <div class="form-group col-md-3 mb-2">
                            <label for="userinput2">City</label>
                            <input type="text" id="userinput2" class="form-control form-control-sm" placeholder="City" name="company">
                         </div>
                   </div>
                   <div class="row">
                    <div class="form-group col-md-3 offset-1 mb-2">
                       <label for="userinput1">Zip Code</label>
                       <input type="text" id="userinput1" class="form-control form-control-sm" placeholder="Zip Code" name="name">
                    </div>
                    
                    <div class="form-group col-md-3 mb-2">
                       <label for="userinput1">State</label>
                       <input type="text" id="userinput1" class="form-control form-control-sm" placeholder="State" name="name">
                    </div>
                    <div class="form-group col-md-3 mb-2">
                       <label for="userinput2">Country</label>
                       <input type="text" id="userinput2" class="form-control form-control-sm" placeholder="Country" name="company">
                    </div>
                 </div>
                 <h4 class="form-section"><i class="ft-mail"></i> Upload</h4>
                 <div class="row">
                        <div class="form-group col-md-4 offset-1 mb-2">
                            <label for="location2">Upload Profile</label>
                            <input type="file" class="form-control-file" id="basicInputFile">
                        </div>                        
                     </div>
                </div>
                <div class="form-actions center">
                        <button type="button" class="btn btn-raised btn-warning mr-1">
                            <i class="ft-x"></i> Cancel
                        </button>
                        <button type="button" class="btn btn-raised btn-primary">
                            <i class="fa fa-check-square-o"></i> Save
                        </button>
                </div>
                </form>
                
             </div>
          </div>
       </div>
    </div>
 </div>